@import url(matteo/stylesheet.css);

:root {
  font-family: Matteo;

  --background: #08091e;
  --background-secondary: #081e19;
  --accent: #1deda2;
  --text: #ffffff;

  overflow: hidden;
}

body {
  position: absolute;
  inset: 0;
  padding: 0;
  margin: 0;

  background-color: var(--background);
  color: var(--text);

  display: grid;
  place-items: center;
  place-content: center;

  overflow: hidden;
}

.center {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  text-align: center;
  margin: 0 2rem;
}

.accent {
  color: var(--accent);
}

.onhoverbutton {
  color: var(--text);
  font-size: inherit;
  text-decoration: none;
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
  text-wrap: nowrap;
}

.onhoverbutton:hover {
  color: var(--accent);
}

h1 {
  font-size: 4rem;
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
}

.logo {
  position: absolute;
  opacity: 0.1;
  width: 16rem;
  z-index: 0;
  inset: 50%;
  transform: translate(-50%, -50%);
  fill: var(--accent);
}

.socials {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
  padding: 0 2rem;
  line-height: 1.75rem;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
}

@media screen and (max-width: 541px) {
  h1 {
    font-size: 2.75rem;
  }

  .socials {
    letter-spacing: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .socials {
    letter-spacing: 0.15rem;
  }
}