@import url(matteo/stylesheet.css);

:root {
  font-family: Matteo;

  --background: #08091e;
  --background-secondary: #081e19;
  --accent: #1deda2;
  --text: #ffffff;

  overflow: hidden;
}

body {
  position: absolute;
  inset: 0;
  padding: 0;
  margin: 0;

  background-color: var(--background);
  color: var(--text);

  display: grid;
  place-items: center;
  place-content: center;

  overflow: hidden;
}

.center {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  text-align: center;
  margin: 0 2rem;
}

.accent {
  color: var(--accent);
}

.onhoverbutton {
  color: var(--text);
  font-size: inherit;
  text-decoration: none;
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
  text-wrap: nowrap;
}

.onhoverbutton:hover {
  color: var(--accent);
}

/* Background logo */
.logo {
  position: absolute;
  opacity: 0.1;
  width: 16rem;
  z-index: 0;
  inset: 50%;
  transform: translate(-50%, -50%);
  fill: var(--accent);
}

/* Main text */
h1 {
  font-size: 4rem;
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
  padding: 1.25rem;
  padding-right: 10.5px;
  background-color: #1c1c2d;
  border-radius: 15px;
  border: 1.5px solid #3f3f4f;
  -webkit-tap-highlight-color: transparent;
}

/* Socials dock-bar */
.socials {
  /* Positioning, padding */
  position: absolute;
  padding: 1.25rem;
  padding-right: 10.5px;

  /* Text formatting */
  text-align: center;
  line-height: 1.75rem;
  font-size: 2rem;
  letter-spacing: 1.75rem;

  /* Bottom dock */
  background-color: #1c1c2d;
  border-radius: 15px;
  border: 1.5px solid #3f3f4f;
  margin-bottom: 1.25rem;

  /* Disable highlighting when tapping on text */
  -webkit-tap-highlight-color: transparent;

  /* Resizing transition */
  transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;

  /* Appearing animation */
  animation: appear 1.15s cubic-bezier(0.55, 0, 0.25, 0.95) forwards;
}

/* Animation(s) */
@keyframes appear {
  /* Position to start the animation from */
  from {
    bottom: -10rem;
  }
  /* Position to end the animation at */
  to {
    bottom: 0.5rem;
  }
}

/* Target: phones */
@media screen and (max-width: 541px) {
  h1 {
    font-size: 2.75rem;
  }
<<<<<<< HEAD
}

@media screen and (min-width:1025px) {
  .socials {
    font-size: 1.75rem;
=======
}

/* Target: desktop */
@media screen and (min-width:1025px) {
  .socials {
    font-size: 1.75rem;
  }
}

/* Target: small devices */
@media screen and (max-width: 350px) {
    .socials {
      letter-spacing: 1.25rem;
>>>>>>> main
  }
}
